[2016-03-02 16:31] FlorianLautenschlager opened #4 "Result never returns"
The Chronix client asks the amount of time series in a first call. If the further result (e.g. an analysis) reduces the amount of time series, then the result is never returned.

[2016-03-02 16:47] #4 closed

[2016-03-05 06:50] FlorianLautenschlager opened #5 "Filter / Window Transformations"
Chronix currently has aggregations and high-level analyses but no transformations like filter or window / sliding window.

[2016-03-05 10:01] FlorianLautenschlager opened #6 "Date parsing in subquery (FastDTW)"
The subquery currently do not parse the *start* or *end* dates.

[2016-03-05 18:25] FlorianLautenschlager opened #7 "Merging attributes on aggregations and analyses"
The attributes of the time series included in an analysis or aggregation are currently not merged. The attributes of the first time series are set in the result. We should merge the attributes using a set as value holding the attributes of the same keys.

[2016-03-05 19:50] #7 closed

[2016-03-06 08:01] FlorianLautenschlager opened #8 "FastDTW Analysis"
In some cases a time series has two or more timestamps that have exactly the same value. FastDTW can not deal with that. Hence we have to filter / aggregate the points with the same timestamp.

[2016-03-06 08:49] #8 closed

[2016-03-06 09:38] #6 closed

[2016-04-01 06:49] FlorianLautenschlager opened #9 "Pass multiple analyses to Chronix"
[code]

The results of the aggregations and analyses are added to the resulting document:
[code]
Hence can ask several values at once.

[2016-04-15 07:57] FlorianLautenschlager opened #10 "Upgrade to Solr 6.0"
Upgrade the codebase to Solr 6.0

[2016-04-18 09:28] FlorianLautenschlager opened #15 "New Aggregation: Difference"
Implement difference aggregation:
[code]

[2016-04-18 09:31] FlorianLautenschlager opened #16 "New Aggregation: Signed Difference"
Implement signed difference aggregation.

For negative values
[code]

For positive values
[code]

Positive first, negative last
[code]

Negative first, positive last
[code]

[2016-04-18 09:31] FlorianLautenschlager opened #17 "New Aggregation: Sum"

[2016-04-18 09:31] FlorianLautenschlager opened #18 "New Aggregation: Count"

[2016-04-18 09:32] FlorianLautenschlager opened #19 "New Aggregation: First"
Returns the first value of the time series.

[2016-04-18 09:32] FlorianLautenschlager opened #20 "New Aggregation: Last"
Returns the last value of the time series.

[2016-04-18 09:33] FlorianLautenschlager opened #21 "New Aggregation: Range"
Absolute difference between the minimum and the maximum:
[code]

[2016-04-18 10:40] FlorianLautenschlager commented on #10
With lucene 6.0 the LongField was removed [Deprecate and rename NumericField/RangeQuery to LegacyNumeric](https://issues.apache.org/jira/browse/LUCENE-6917).
Hence we move to the new [Long Point](https://lucene.apache.org/core/6_0_0/core/org/apache/lucene/document/LongPoint.html).

[2016-04-18 10:43] FlorianLautenschlager commented on #10
The DocTransformer interface has also changed. The method *transform* comes with a new parameter *score*. We ignore that paramter, as we only want to transform the data field without respecting it.

[2016-04-18 11:15] FlorianLautenschlager opened #22 "Explicit option to enable data return."
Currently aggregations do not return the data field but high level analyses does.
We should provide an option that the user can decide if he needs the data or not.

The default is, that no data is returned for all types of analyses (aggregations / high level analyses). With the option ```fl=data``` enabled Chronix returns the rawa data.

[2016-04-18 12:41] #9 closed

[2016-04-18 12:41] #10 closed

[2016-04-18 12:41] #17 closed

[2016-04-18 12:41] #18 closed

[2016-04-18 12:41] #19 closed

[2016-04-18 12:41] #20 closed

[2016-04-18 12:41] #21 closed

[2016-04-18 12:41] #22 closed

[2016-04-18 12:41] FlorianLautenschlager commented on #16
Fixed with #23.

[2016-04-18 12:41] #16 closed

[2016-04-18 12:43] #15 closed

[2016-04-18 12:45] FlorianLautenschlager opened #24 "Percentile Aggregation"
If Chronix is asked for multiple *percentile* aggregations, only one is answered.

[2016-04-18 14:31] FlorianLautenschlager opened #26 "Time Series Vectorization"
Implement a transformation that does a server-side time series vectorization.
This is useful in many cases, e..g. data reduction on the client side.

Could be something like that:
[code]

[2016-04-18 14:35] #24 closed

[2016-04-18 14:36] FlorianLautenschlager commented on #26
@jweigend what's the algorithm that is currently used in the Software EKG?

[2016-04-18 16:14] FlorianLautenschlager opened #32 "Do not return empty function / aggregation arguments"

[2016-05-17 09:42] FlorianLautenschlager opened #34 "Avoid identical functions within one query"

[2016-05-18 06:22] #5 closed

[2016-05-18 06:22] #32 closed

[2016-05-18 06:22] #34 closed

[2016-05-18 09:34] FlorianLautenschlager opened #35 "Data as JSON even for transformations"
Currently the dataAsJson functionality only works for range queries without any functions (aggregations, transformations, analyses). We should provide this feature also for queries that include functions.

[2016-05-24 08:58] #26 closed

[2016-05-24 12:34] FlorianLautenschlager opened #39 "Add / Subtract Transformation"

[2016-05-24 21:28] felixbarny opened #41 "Key-value attributes"
Hi,

I just learned about Chronix, so dare with me if I have overlooked that but is it possible to add key value metadata to the measurements like host:myhost, application:myapp? Like the InfluxDB format or the format described here: https://www.elastic.co/blog/elasticsearch-as-a-time-series-data-store.

Also it would be nice to have documentation about the http ingestion protocol and format, if a

[2016-05-24 21:36] #39 closed

[2016-05-24 21:50] FlorianLautenschlager commented on #41
Hi,

it is possible to add arbitrary metadata (or as we call them: attributes) to a time series as well as to the measurements (by concept) . But currently the default time series implementation does not provide the opportunity to add metadata to single points. It only allows to add arbitrary metadata to a time series record (The key idea is to group single points into chunks and store them with t

[2016-05-24 21:52] FlorianLautenschlager opened #42 "Describe Chronix' functions in more detail"
We should provide a document describing Chronix' functions.
- HTML
- Markdown
- ...

[2016-05-24 21:53] FlorianLautenschlager opened #43 "Describe Chronix' storage format"
We should describe a way to add time series to Chronix using the HTTP Interface.

[2016-05-25 08:09] felixbarny commented on #41
That data model looks reasonable. I suppose the end timestamp does not have to be set when creating the record, or does it? Aggregations also work across records so it's possible to aggregate all response_time metrics on host A which have the instance tag A,B or C, right?

What is the state of the grafana integration? I'm thinking about integrating ChronixDB to [stagemonitor](https://github.com/st

[2016-05-25 10:36] FlorianLautenschlager commented on #41
The end timstamp is used when a query asks for time series e.g.
[code]
Aggregations work across multiple records.
[code]

We will release a version within the next few days.

That's great!

What is a lightweight client in our mind?

[2016-05-25 10:44] felixbarny commented on #41
Does that mean that you can't query measurements which don't have a end date yet? When monitoring a web application, you typically don't know when the measurement ends until the server is shut down. Also, if the process is killed, you don't have a chance to set the end date.

With lightweight I mean that has no or at least few external dependencies and is relatively small in size. A counter exampl

[2016-05-25 12:15] felixbarny commented on #41
Another question: is Chronix' sum function more usable than the one in Elasticsearch and InfluxDB? See https://blog.raintank.io/how-to-effectively-use-the-elasticsearch-data-source-and-solutions-to-common-pitfalls/#sum

[2016-05-25 13:43] FlorianLautenschlager commented on #41
I don't know if i get you right. A measurement is a pair of timestamp and value. Hence a measurement always has a timestamp.

There is already a [client](https://github.com/ChronixDB/chronix.server/tree/master/chronix-server-client) (currently only java) that has only a few external dependencies (5).

Chronix' sum function currently works for a single time series. It easily sum up all values, e.g.

[2016-05-25 14:01] FlorianLautenschlager opened #48 "Build Release 0.2"

[2016-05-25 14:44] felixbarny commented on #41
I'm refering to the `end: tn` timestamp of a time series record. I'm a bit confused about when I have to set the value. When initially creating the time series record I don't know when the series will end.

[2016-05-26 07:45] FlorianLautenschlager commented on #41
Ah i understand. No there is not just one record per time series there are multiple.
Image you have a process that collects metrics (every second) and sends them every 5 minutes to Chronix. Than you will have records with time series chunks of size 5 minutes (300 Points). And this records have a start and end.

[2016-05-26 12:06] felixbarny commented on #41
I see. But when you want live metrics, most of the time you probably will send one data point per time series record. Does Chronix merge those individual records of a series or does sending single data points have negative impacts like requiring more disk space, slower queries etc.?

[2016-05-30 09:41] FlorianLautenschlager commented on #41
You are right. Records with small chunks lead to a higher storage demand but in some cases faster queries except tiny chunks (only a few points). Records with larger chunks lead to a higher compression rate but some queries might be slower.

Currently the logic for storing records with ideal chunks is outside of Chronix.
But a feature (like OpenTSDBs compaction) is planned for release 0.3.

[2016-05-30 09:47] FlorianLautenschlager opened #49 "Small chunk compaction"
Chronix' performance is best when the chunk size is ideal (1024 kbyte, uncompressed). But in a live monitoring we need small chunks (short time range) << 1024 kbyte. Hence the query and storage performance  drops.

Feature:
- Periodically check if Chronix has records with small chunks. If, group these records and build larger chunks.

[2016-05-30 09:50] felixbarny commented on #41
I think hiding this implementation detail would be a really big step. I think Chronix can make better decisions about how large chunks should be than the client and you would not have to choose between either better performance via chunks or live data wich only one data point per record. Also it would greatly improve usability as users would not have to know about the relatively uncommon attribute

[2016-05-30 10:02] FlorianLautenschlager commented on #35
We should unify the data as json representation.

[2016-05-30 17:27] FlorianLautenschlager commented on #35
fl:dataAsJson is now available for both, function query and range queries.

[2016-05-31 13:07] FlorianLautenschlager opened #53 "Delete the Chronix-Response-Writer"
The JSON serialization is now part of the query handler.
-> The response writer does not work with transformed results.

[2016-05-31 13:12] #35 closed

[2016-05-31 15:46] #53 closed

[2016-06-03 09:41] #48 closed

[2016-06-06 08:29] FlorianLautenschlager opened #57 "Chronix Simple Ingestion Interface"
We should provide a simple ingestion interface for time series data, e.g. pairs of timestamp, value. We should adapt the protocols of InfluxDB, Graphite, ...

[2016-06-07 10:46] #41 closed

[2016-06-07 21:06] redblinkconsulting opened #58 "When querying with fq, query handler raises an exception"
Steps to reproduce:
Install chronix-solr-6.0.1
solr start
go to http://localhost:8983/solr/#/chronix/query
q = metric:*Load*
qf = anything you want

solr ui shows:
{
  "responseHeader":{
    "status":400,
    "QTime":4},
  "error":{
    "metadata":[
      "error-class","org.apache.solr.common.SolrException",
      "root-error-class","org.apache.solr.common.SolrException"],
    "msg":"no field name

[2016-06-08 05:43] FlorianLautenschlager commented on #58
Hi, thx for trying Chronix :+1:

With Chronix 0.2 we have replaced the "ag" and "analysis" tag with "function". Now everything is a function. (see: https://github.com/ChronixDB/chronix.server/blob/master/README.md#function-query

Query the maximum, minimum and count the points:
[code]

[2016-06-08 07:29] redblinkconsulting commented on #58
Thanks, that worked.

[2016-06-08 08:43] #58 closed

[2016-06-08 08:47] FlorianLautenschlager opened #59 "Release Chronix-Libs on maven central"
Currently the libraries of Chronix are released on bintray.
We should also release them on maven central.

[2016-06-08 08:48] FlorianLautenschlager opened #60 "Chronix Dokumentation as GitBook"
Addresses also
- #42
- #43

[2016-06-08 10:31] FlorianLautenschlager opened #61 "Timeshift Transformation"

[2016-06-08 10:32] FlorianLautenschlager commented on #59
@lreimer Could you do this for us?

[2016-06-19 10:04] FlorianLautenschlager opened #62 "Enable CORS"
Without enabled CORS the Grafana plugin wont work.
Solution: Enable it per default.

Add this to the web.xml
[code]

[2016-06-27 06:25] FlorianLautenschlager opened #63 "Upgrade to Solr 6.1"

[2016-06-27 07:10] #61 closed

[2016-06-27 07:10] #62 closed

[2016-06-27 07:10] #63 closed

[2016-06-27 07:21] FlorianLautenschlager opened #65 "Simple Chronix Client"
Should we provide a simple chronix client without SolrJ dependency?

[2016-06-28 16:52] FlorianLautenschlager opened #66 "Time Series Forecast"
Implement a transformation that does a time series forecast.

[2016-06-29 11:43] FlorianLautenschlager opened #67 "Allow server-side response compression"
Add this to the _jetty-gzip.xml_ in _chronix-X.X/chronix-solr-X.X.X/server/etc_

[code]

And the following snippet to _chronix-X.X/chronix-solr-X.X.X/server/contexts/solr-jetty-context.xml_
[code]

Add the _gzip.mod_ to  _chronix-X.X/chronix-solr-X.X.X/server/modules_

[2016-07-01 06:56] FlorianLautenschlager opened #68 "Points returned as JSON are not sorted"
A request with _fl=dataAsJson_ returns unsorted points.
Solution: Insert a ts.sort() call before JSON serialization.

[2016-07-03 10:30] #68 closed

[2016-07-12 08:35] FlorianLautenschlager opened #70 "Prometheus Integration"
Build an integration with Prometheus and Chronix to read data out of Prometheus into Chronix, to use Chronix as long term storage.

[2016-07-12 12:14] FlorianLautenschlager commented on #57
We can use GRPC: http://www.grpc.io.

[2016-07-12 12:25] #67 closed

[2016-07-14 11:46] FlorianLautenschlager opened #73 "Wall clock to set the server timestamp on reported measurements."
Currently Chronix expects pairs of timestamp and value. With a wall clock we can send the values without a timestamp as Chronix adds the current server time on the values. See how InfluxDB does this.

[2016-08-17 12:43] techwizardg opened #75 "Is there any Chronix client driver for javascript/nodejs"
Did not find an email id to write and hence writing it here.

Does chronix provide nodejs/javascript client driver?

[2016-08-18 06:41] FlorianLautenschlager commented on #75
Thanks for your question. Sadly there is no nodejs/javascript client at the moment. It is planed to extract a java script client from the grafana datasource plugin (https://github.com/ChronixDB/chronix.grafana).

[2016-08-18 12:00] FlorianLautenschlager opened #76 "Bug when using field in join key that is not part of the requested fields"
If the join key uses a field that is not part of the requested fields, then the join fails.

join_key: "null-testmetric"

[2016-08-18 12:57] techwizardg commented on #75
Thanks for the immediate reply

[2016-08-22 09:21] brettwooldridge opened #78 "Data-mining or real-time?"
Asked in Gitter...

@FlorianLautenschlager I have a question about Chronix. Maybe about chronix-storage in particular...

It seems like Chronix is designed more for data-mining that real-time use, is that correct?

I ask, because it seems that a time series is only (should only) be added when a sufficient number of data points have been collected.

For example, in order to benefit from the compres

[2016-08-22 10:55] FlorianLautenschlager commented on #78
Simple answer is: it depends ;-)

Yes. Chronix is designed as a long term storage. But it depends what real-time means to you. Storing records of small data points reduces both the storage efficiency and query performance.

Recent values are available after a commit is performed. But commits are expensive and blocking. Hence many commits will negatively influence the write and query performance (i

[2016-08-23 10:25] FlorianLautenschlager commented on #70
The integration is done in prometheus using an export interface. This should be also part of the official prometheus release (in future, currently in our fork https://github.com/ChronixDB/prometheus).
Chronix-Parts:
- Go client for Chronix and for Solr. (https://github.com/ChronixDB/chronix.go)
- Chronix ingestor that collects points and sends them to Chronix (https://github.com/ChronixDB/chronix.

[2016-08-23 10:25] #70 closed

[2016-08-23 10:32] #78 closed

[2016-08-23 10:32] #75 closed

[2016-08-28 00:50] sacreman opened #79 "Info for a comparison table"
Hi, I've started a time series comparison table and wondered if you'd be able to help fill it in?

I've only just discovered Chronix and it looks pretty cool. Would be good to have it listed.

https://docs.google.com/spreadsheets/d/1sMQe9oOKhMhIVw9WmuCEWdPtAoccJ4a-IuZv4fXDHxM/edit#gid=0

Happy to expand the table comparison criteria too if you think there's anything else that should be noted in pa

[2016-08-29 06:30] FlorianLautenschlager commented on #79
Hi thanks for this.
We will take a closer look within the next days. Nice job!

[2016-09-01 10:23] FlorianLautenschlager opened #80 "Sever-side Analysis Scripts"
Discuss if we should provide a way that a user can send a groovy script to Chronix that is evaluated on the side of the server. This could be a way to easily extend Chronix with missing analyses.

[2016-09-30 12:30] TPolzer opened #82 "MovingAverage implementation is wrong"
The documentation says:
[code]
That is not a moving average (and it's jumpy).

[2016-09-30 13:15] TPolzer opened #83 "Frequency detection documentation is confusing."
I just had a look at the frequency detection code to find out what its purpose is.
Reading the documentation is not very enlightening: `Detects if a points occurs multiple times within a defined time range`

Reading the code, doesn't really help either:
- It takes multiple time series as arguments, but only looks at the first one.
- It uses the `List<Long> currentWindow` as a counter (just the siz

[2016-09-30 13:45] FlorianLautenschlager commented on #83
I agree - the documentation at this point is poor...

The frequency detector splits a time series into windows, counts the data points, and checks if the delta
between two consecutive windows is above a predefined threshold.

[2016-10-01 13:09] FlorianLautenschlager commented on #82
Well that is not a typical moving average that uses a fixed amount of samples. Instead it uses a time frame/window that slides over the time series and hence the amount of samples within a time frame varies.
I agree that we should clearly point that out and we should enrich the the documentation.
Furthermore we should provide a simple moving average that uses a fixed amount of samples.

[2016-10-01 13:10] FlorianLautenschlager commented on #83
Also see #42 and #60

[2016-10-01 13:11] FlorianLautenschlager commented on #73
Is required for #57 when sending single points.

[2016-10-01 17:23] TPolzer commented on #82
It doesn't slide, it jumps. So for example, for 1000 (evenly spaced) standard normal distributed points and a windows size of 80, this results in a data sequence like this:
!["smoothed" points]
(https://pbot.rmdir.de/laUnUlqJNu1-DDzkkPYqfA.png)
Why would I want that?

[2016-10-01 19:52] FlorianLautenschlager commented on #82
I looked into the code and you are right. Thanks for reporting this bug.
Just implemented a corrected version.

[2016-10-01 20:43] #82 closed

[2016-10-04 16:40] #76 closed

[2016-10-06 08:36] FlorianLautenschlager opened #92 "Moving Average based on a fixed size of samples"
We currently only provide a moving average with a time window. Hence the amounts of points within a window varies. Therefore we should also provide a moving average transformation with a fixed amount of points.

[2016-10-06 10:07] FlorianLautenschlager commented on #60
Inital version: https://chronix.gitbooks.io/chronix/content/

[2016-10-10 11:07] #83 closed

[2016-10-10 11:16] #92 closed

[2016-10-12 15:31] FlorianLautenschlager commented on #57
Thx to @phxql for implementing InfluxDB, Graphite, KairosDB, and OpenTSDB HTTP protocols.
Do we need a custom Chronix format?

[2016-10-12 15:47] felixbarny commented on #57
That's great news! Are there plans to mimic the query interface of InfluxDB?

[2016-10-13 06:55] FlorianLautenschlager commented on #57
Hi Felix,
no there are currently no plans doing this or something similar.

[2016-10-13 07:04] felixbarny commented on #57
Thx for the info. What's the state of the Grafana integration?

[2016-10-17 06:44] FlorianLautenschlager commented on #57
The Grafana integration works. There is still some work to do.
Please ask Grafana related questions in the [chronix.grafana](https://github.com/ChronixDB/chronix.grafana) repository.

[2016-10-17 06:45] FlorianLautenschlager commented on #43
Done.
See https://chronix.gitbooks.io/chronix/content/http-api.html

[2016-10-17 06:45] #43 closed

[2016-10-17 06:46] FlorianLautenschlager commented on #42
We will describe them here:
https://chronix.gitbooks.io/chronix/content/functions.html

[2016-10-17 13:18] FlorianLautenschlager commented on #57
We should also add the Prometheus format: https://prometheus.io/docs/instrumenting/exposition_formats/

[2016-10-17 13:33] phxql commented on #57
Hey, sounds like a good idea. I'll work on it.

[2016-10-19 15:51] FlorianLautenschlager opened #102 "Bug when joining fields"
If a field used for joining records is not defined in the requested fields, the join key contains "null" values leading to wrong joins.

[2016-10-19 16:36] #102 closed

[2016-10-19 17:13] FlorianLautenschlager commented on #76
See also #102

[2016-10-24 16:22] FlorianLautenschlager opened #107 "Add prometheus servlet"
We should provide a prometheus servlet for monitoring purposes.

[2016-10-28 04:35] deter3 opened #108 "Is there any plan for python wrapper ?"
Is there any plan for python wrapper at the moment ?  I saw your presentation says dec 2016 for R wrapper .

Thanks

[2016-10-28 05:22] FlorianLautenschlager commented on #108
Hi thanks for your question. There is currently no plan for a python wrapper. However such a wrapper would be great. We are open for any contribution! ;-)

[2016-11-02 16:07] #108 closed

[2016-11-02 16:09] FlorianLautenschlager opened #109 "Bug when using functions and join within a query"
If a query uses a server-side function and one wants to join the documents with a user-defined join key an exception is thrown that the defined join key is not a valid function.

[2016-11-07 10:07] #49 closed

[2016-11-07 10:10] FlorianLautenschlager commented on #57
@phxql Can we close this issue, or do you have outstanding work?

[2016-11-07 10:11] #60 closed

[2016-11-07 10:12] #42 closed

[2016-11-07 10:31] #109 closed

[2016-11-07 17:17] phxql commented on #57
It's implemented, but i still have to write some documentation.

[2016-11-07 17:25] FlorianLautenschlager commented on #57
Great. Thus we can close the issue.

[2016-11-07 17:25] #57 closed

[2016-11-07 17:33] FlorianLautenschlager opened #115 "Implement OpenTracing API for storing Traces"
We should implement a time series and the server should provide an interface to store traces (e.g zipkin).

[2016-11-09 08:49] FlorianLautenschlager opened #116 "Upgrade to Solr 6.3.0"

[2016-11-14 10:15] FlorianLautenschlager commented on #115
See: http://opentracing.io/

[2016-11-15 10:16] #116 closed

[2016-11-29 21:32] lamora opened #119 "Add option to compact single time series"
Right now only a set of time series can be compacted - namely those matching a given joinKey. This approach is slow and inflexibel: you may not want to choose the same ppc value for all time series.

A possible solution is a new parameter: "fq". Here's an example: "chronix/compact?fq=metric:cpu-load AND start:[* TO aTimestamp]". fq identifies all documents to be compacted in standard Lucene query

[2017-01-02 14:01] FlorianLautenschlager opened #121 "Migrate the plug-in code"
We currently have some code in our sandbox that uses google guice to plug in additional functions.

[2017-01-23 20:48] FlorianLautenschlager commented on #121
With the introduction of plug-ins we also have to extend / change the query language.

`q=<query> & cf={<type>’{’<functions>’}’ [;<type>’{’<functions>’}’]}]`

Therefore the next release has breaking changes.

[2017-01-25 11:54] rajendrakumara opened #122 "Unable to compile chronix.ingester"
# _/home/kodiak/metrics/chronix.ingester-master
./handler.go:40: cannot use "github.com/prometheus/common/model".Sample literal (type *"github.com/prometheus/common/model".Sample) as type *"github.com/prometheus/prometheus/vendor/github.com/prometheus/common/model".Sample in argument to appender.Append
./main.go:45: cannot use chronixStore literal (type *chronixStore) as type ingester.ChunkStore i

[2017-01-25 12:04] rajendrakumara commented on #122
Have raised the issue in appropriate module

[2017-01-25 12:04] #122 closed

[2017-02-22 17:21] FlorianLautenschlager commented on #121
We plan to migrate the code soon after the FAST conference.

[2017-03-12 18:05] #80 closed

[2017-03-12 18:05] #65 closed

[2017-03-12 18:06] FlorianLautenschlager commented on #119
@lamora can i close this issue?

[2017-03-12 18:09] FlorianLautenschlager commented on #121
With this issue we introduce new query params
 - cf: Chronix Function replaces fq=function
 - cj: Chronix Join replaces fq=join

[2017-03-12 18:11] FlorianLautenschlager opened #123 "Upgrade to latest Solr version 6.4.2"

[2017-03-13 13:27] #119 closed

[2017-03-13 13:36] FlorianLautenschlager opened #125 "Update documentation for the upcoming version 0.5"
- Update the new query language
- Describe the introduced plugin concept.

[2017-03-13 13:38] #121 closed

[2017-03-13 13:39] #123 closed

[2017-03-13 14:13] lamora commented on #119
Yes :).

[2017-03-13 22:24] #125 closed

[2017-04-19 15:10] devaudio opened #129 "Opentsdb Oddness --"
So i am attempting to setup Chronix to ingest mostly opentsdb feeds while waiting to update our legacy applications to use chronix libs natively for imports.
One thing i noticed is opentsdb.ingest doesn't support gzipped data incoming (Actual opentsdb api does) but that's not a deal breaker or anything - can prolly have a pull request to remedy that.

My issue is actually having it store/retrieve

[2017-04-20 06:53] FlorianLautenschlager commented on #129
So i found some time to dig into it using the latest beta release (0.5). Well there is some work to do (documentation, etc.). But the good message is, it works.

With 0.5 we renamed the *metric* field to *name* as in Chronix' a time series could be anything.

So let's add some points:

[code]

Should end up like this:

[code]

Its important to compact documents in order to increase the performance

[2017-04-20 06:55] FlorianLautenschlager opened #130 "Ingestion Handler make commit optional"
We should add a flag to make the commit that is done for every request optional, e.g. `?commit=true`

[2017-04-20 20:40] devaudio commented on #129
downstream is a tag though? the metric is cablemodem.snr.modem -- how would i query to get, say max;count;min of cablemodem.snr.modem where nodeKey= 97263e59f5da1b847a03c5df1873ea300b7a643a   ?

[2017-04-20 20:48] devaudio commented on #129
Data I have in Chronix looks like this btw:

http://localhost:8983/solr/chronix/select?indent=on&q={!term%20f=nodeKey_s}97263e59f5da1b847a03c5df1873ea300b7a643a&wt=json

[code]

ok

[2017-04-20 20:50] devaudio commented on #129
I am ingesting these similar to how i did opentsdb -- ie.e put metric.value with 'tags' -- should that be different? using golang client, with metric: changed to name: because you guys didn't update golang for that yet either :-D

[2017-04-20 21:16] devaudio commented on #129
Bah i know this issue is a mess now, not an actual issue - but what i need is a schema config to replace a 'standard' opentsdb install/dataset ---

2017-04-20T21:12:35.519Z INFO Query took: 2398133 ms for 250495 points

terrible performance doing name:cablemodem.snr.modem AND nodekey_s=blah cf=max,min

[2017-04-21 05:04] FlorianLautenschlager commented on #129
q=metric:cablemodem.snr.modem AND nodeKey:97263e59f5da1b847a03c5df1873ea300b7a643a&cq=metric{max;count;min}

Did you compact the time series? Chronix is optimized to store large chunks (e.g. a few thousand) of points.
What is the memory configuration?
This is definitely no the standard performance.
Using the importer + dataset from the examples that puts around 7281 points per chunk i got the foll

[2017-04-21 05:43] FlorianLautenschlager opened #131 "Update the default ppc value"
Currently it is set to 100,000. We should reduce this default value to 10,000.

[2017-04-27 18:24] devaudio commented on #131
i upped mine to 500k :-D

[2017-04-27 19:44] devaudio commented on #129
so i have query time down when i run my own queries... seems mostly reasonable. Putting data in is still slow. I have 6 cores, with 8GB dedicated to solr, off heap 32GB. But that's not my current oddness/problem. First, to show I am not all a time suck, here is something useful :

Should add auto-gzip to Jetty -- so it works same as opentsdb endpoint when data comes in with Content-Encoding:gzip -

[2017-05-02 06:56] FlorianLautenschlager commented on #129
Hi sorry for my delayed response - i was off the past days.

Nice! Thanks a lot. Can you provide a PR?

Well that is a actually a problem. :/  The ingestors should add fields dynamically, too.

We could define common dynamic fields in the standard schema , i.e., `\*_s `for string,` *_i` for int, `*_d` for double, etc. Then we can simply add "`_{s|i|d}`" to a tag name.

A good start for OpenTSDB is

[2017-05-02 18:51] devaudio commented on #129
I can do a PR for the FormatParser (that's as simple as append _s for tags)
-- but for the web.xml i don't see how you generate it, unless it's from
the chronix-server-test-integration directory?

On Tue, May 2, 2017 at 2:56 AM, Florian Lautenschlager <
notifications@github.com> wrote:

[2017-05-02 19:22] FlorianLautenschlager commented on #129
Great. :1st_place_medal:

All static files (web.xml, schema.xml, ...) are copied from` chronix-server-test-integration/src/inttest/resources/de/qaware/chronix` into the directory the downloaded and unzipped Apache Solr installation.

[2017-05-08 17:17] devaudio commented on #129
so web.xml thing only worked on responses, not requests. added gzip to requests. Still having very slow 'updates' compared to opentsdb -- here is a current 'run':

opentsdb: Pushing 62207 metrics --> 22 seconds
chronix: Pushing 62176 metrics --> 128 seconds

:/ i tried futzing with a bunch of vars in solrconfig.xml and couldn't get it much better

[2017-05-08 17:18] devaudio commented on #129
same servers, with 12 cores, 32GB dedicated to solr/chronix, 32GB dedicated to opentsdb

[2017-05-08 17:18] devaudio commented on #129
(128 GB RAM total for those dudes)

[2017-05-08 17:57] FlorianLautenschlager commented on #129
What is the chunk size you send to the ingestion handler. Currently there is a commit after every request. Perhaps that is a point to dig into. Without the commit the data is added but not visible to queries. I will give it a try tomorrow.

[2017-05-08 19:30] devaudio commented on #129
I want to send  ~ 8MB chunks, but i can't figure out how to do that on the embedded server so they are 6kb chunks (opentsdb has chunk=8Mb etc etc)

[2017-05-09 05:04] FlorianLautenschlager commented on #129
Ok that are huge chunks. 8MB of a single time series or multiple?

Hence you are sending 6 KB of chunks?

I will later implement a example that imports the example data using the OpenTSDB ingestor.

[2017-05-09 13:40] devaudio commented on #129
using chronix go client lib isn't much faster either.... maybe it's my solrconfig? I have a 40 node cluster (36 are 'data/region servers') that are all 12x128GB

[2017-05-09 15:29] FlorianLautenschlager commented on #129
So i just made the "commit" after every request configurable. With the example data set i measure the following figures (6 GB RAM). The data is only added and with single commit after the import is done.

Chronix-Protocol: Import done (Took: 40 sec). Imported 5836 time series with 76,439,668 (points/metrics)
OpenTSDB Ingestion: Import done (Took: 182 sec). Imported 5836 time series with 76,439,668

[2017-05-10 01:39] devaudio commented on #129
Is that change committed ? Sounds good!

Sent from my iPhone
Cell:   (315) 415-2816
AIM:   devaudio

[2017-05-10 05:27] FlorianLautenschlager commented on #129
Sounds good. I wanna see your problem fly away ;-)

I also updated the examples (importer) to send the data with OpenTSDB (configuration parameter)

[2017-05-16 21:01] devaudio commented on #129
so, still working on this... ramped up the # of cores to 36.... what i can't seem to do is get outlier to work?

I have a metric that has float values for hosts over time. Want to find ONLY hosts who are outliers (in this case, my host tag is hashKey_s, instead of Host_s)

I tried this, but it simply returned all the hashKey_s values, instead of only datapoints that were outliers:

select?df=hashK

[2017-05-17 12:18] FlorianLautenschlager commented on #129
oh my god. is it possible to share a part of your dataset? Or is it possible that we do a video call? Its hard to help from here without data.

Does it return all hashKey_s that time series data has outliers or is the result false?

The outlier detection is an analysis that returns true | false. In order to get the values too, you have to request the field `+data`. Then it returns the time series

[2017-05-24 13:32] devaudio commented on #129
I could do a video call, sure... have skype/googlehangouts and all that. Been busy moving to another state, that's why haven't been as responsive. will have a PR for chronix.server as well in a week or too.  Dataset is ~587m objects at 10-15 metric/tags - so about 5 billion points a day or so

[2017-05-24 13:34] FlorianLautenschlager commented on #129
Would be great. What about next week? I would prefer Skype as Hangouts sometimes is annoying..

[2017-05-24 13:36] devaudio commented on #129
yeah that is good. I am in EST/EDT -- dunno what time works for ya? I can do any time from like 7:00EDT to 23:00EDT

[2017-06-02 10:02] FlorianLautenschlager commented on #129
@devaudio could you please send me an email to chronix@qaware.de. Thus we can make an appointment. I am in CET. Any time from 7:00 CET to 23:00 CET ;-)

[2017-07-13 20:02] afrozl opened #135 "writing data directly to Solr"
Given that there is no node.js client available for ChronixDB, is it possible to write data points directly to Solr using one of the solr clients?

[2017-07-14 08:50] FlorianLautenschlager commented on #135
Hi, there are multiple ways to write data to Chronix (InfluxDB/Graphite/OpenTSDB/KairosDB protocol) and of course you can write data points directly to Solr. If you writing data directly into Solr, you have to ensure, that the data is serialized properly. If you want to use the "standard" time series you have to ensure the data is written in the correct format. But you can implement you custom tim

[2017-07-14 17:27] afrozl commented on #135
so, looking at a ruby client, I get the following:
Input data:
<pre>
1500071738,cpu-active,79.58
1500071748,cpu-active,9.05
1500071758,cpu-active,7.68
</pre>

Which gets convereted to:
<pre>
{"cpu-active"=>{"startTime"=>1500071738, "lastTimestamp"=>1500071758, "points"=>#<Chronix::Points p=[#<Chronix::Point t=0 v=79.5>, #<Chronix::Point t=10 v=9.05>, #<Chronix::Point t=0 v=7.68>]>, "prevDelta"=>10

[2017-07-14 17:44] #129 closed

[2017-07-14 17:47] FlorianLautenschlager commented on #135
I suggest you to use one of the provided http apis: https://chronix.gitbooks.io/chronix/content/http-api.html

Otherwise you have to implement the whole serialization and compression stuff to use server-side functions.

Chronix stores everything in Solr. Tags are the key-value pairs of the solr document.

[2017-07-14 20:31] afrozl commented on #135
That works quite well. The only issue I have is when writing tags:

<pre>
[
  {
      "name": "cpu-active",
      "datapoints": [[1359788400000, 23.1], [1359788300000, 13.2], [1359788410000, 23.1]],
      "tags": {
          "hostname": "server1"
      }
  }
]
</pre>

I am not sure why it expects pre defined tags? for example anything other that a tag for 'host' fails:

<pre>
{"responseHeader":{"s

[2017-07-14 20:46] FlorianLautenschlager commented on #135
Tags are defined in the schema.xml of the solr core (default is chronix,https://github.com/ChronixDB/chronix.server/blob/master/chronix-server-test-integration/src/inttest/resources/de/qaware/chronix/solr/chronix/conf/schema.xml). It also defines the required, optional fields, dynamic fields, etc.

Let me know if you need further help. :)

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https:

[2017-07-14 21:16] afrozl commented on #135
Got it. Sorry for all the questions. Very new to solr although a relatively old hand at elasticsearch.

BTW, unrelated but out of curiosity, is it possible to run chronixDB on top of elasticsearch? Given that ES is also lucene based, it should be theoretically possible?

[2017-07-15 09:38] FlorianLautenschlager commented on #135
No problem. It is not well documented...

Yeah. Both are based on lucene and it is possible to replace the storage with little effort. But that manual effort is needed. 😉

[2017-07-16 10:28] IDerr opened #136 "Is the kerberos authentification with Solr possible ?"
Hi,
I want to connect Chronix with my kerberized solr cluster, I have checked the doc, but found nothing.
Any advices ?

Thanks for your work !

[2017-07-17 00:09] devaudio commented on #129
yeah sorry about that - i moved from Virginia to South Carolina, so this project got put on back burner --  I was never able to get it to ingest as fast as tsdb proper, so it's abandoned for now... but i like the math functions at the edge instead of later... i'll keep watching here

[2017-07-17 06:16] FlorianLautenschlager commented on #136
Hi,
have found this in the solr documentation: https://lucene.apache.org/solr/guide/6_6/kerberos-authentication-plugin.html

Looks straight forward.

You want to secure a plain Solr or Chronix cluster?

[2017-07-17 06:23] FlorianLautenschlager commented on #129
Thanks for your answer. Well that is a hard task to tune the ingestion of Solr/Chronix. I always had very good ingestion times when writing batches with the Chronix format compared to the http protocol of OpenTSDB. But not every scenario is an offline import ;-)

[2017-07-19 23:52] afrozl commented on #135
one more question. Am I correct in assuming that the storage benefits of ChronixDB are best attained with large-ish batches of data? In my use case I expect to be ingesting real-time data from many IOT sources. If I can only afford to delay the ingestion by 30 seconds at max, will I still see any storage/compression benefits? Most metrics would be at a 5 second granularity, so at best I could batc

[2017-07-20 06:14] FlorianLautenschlager commented on #135
Six points per chunk is not the size Chronix is designed for. Chronix is designed as a long-term storage with an operational workload of few batch writes and frequent reads.

I think you need a storage that focuses on fast writes. Prometheus in combination with the Push-Gateway might be solution and Chronix as long-term storagen ;-). Check this spreadsheet with that holds a bunch of tsdbs https://

[2017-07-25 08:39] #136 closed

[2017-07-25 08:40] #135 closed

[2017-07-31 11:29] IDerr commented on #136
Sorry, I was on holidays,

I was asking if it's possible to secure the Chronix Cluster with Kerberos.

[2017-08-01 08:14] FlorianLautenschlager commented on #136
No problem ;-)

If it is possible to secure a Apache Solr cluster with Kerberos, than it is also possible to secure a Chronix Cluster. Chronix consists of a view plugins that run inside Apache Solr. I have no experience in securing Apache Solr with Kerberos. Sorry.

[2017-08-01 09:40] IDerr commented on #136
Oh ok :)

Thanks for the answer

[2017-09-13 11:01] twiechert opened #137 "Chronix Server returns unknown field error"
Hi,

I'm using the OpenTSDB Java client to generate write requests to the chronix backend. Unfortunately, this fails with the error "unknown field 'gridCellId''" at server side. Here is my client code:

[code]

Do I somewhere have to register the tags I'm using in my time series in advance? Thanks four your help!

[2017-09-14 07:10] twiechert commented on #137
Thanks @FlorianLautenschlager . I'm new to Solr and was not aware of that file. Thus I was using the bundled schema, which expects dynamic field names to end with "_s".

[2017-09-14 07:10] #137 closed

[2017-09-14 07:13] FlorianLautenschlager commented on #137
No problem, you are welcome ;-)

[2017-09-30 01:14] andyfangdz opened #138 "Using SAX with Chronix"
Hi,

Here at Georgia Tech, we're trying to use Chronix in NIH's MD2K research project (https://md2k.org). One feature in Chronix that's particularly interesting to us is a DB-native SAX implementation. However, I did not find any documentation on using SAX with Chronix.

So here are my questions:

1. How should one use Chronix to query the SAX representation of time-series?
2. How should one get t

[2017-10-01 09:37] FlorianLautenschlager commented on #138
Hi @andyfangdz thanks for your issue. Great to hear that you try to use Chronix for your research project ;-). So first of all, Chronix matches perfectly if you have read-intensive scenario (few batch writes, lots of reads).

So lets get quickly into your questions:

This to questions depend on each other. You can use Chronix to calculate the SAX-Representation and query for a specific representat

[2017-10-17 16:26] andyfangdz commented on #138
Hi @FlorianLautenschlager, thanks for the reply!

These suggestions are really helpful. I'm sure I'll come up with additional questions, but these seem to be enough to get us started.

We expect the rewrite to take a few months, until then, please enjoy a video of our prototype (that's not using chronix yet:P):

[![mHealth Discovery Dashboard](http://img.youtube.com/vi/vpvozWf1aCc/0.jpg)](https://

[2017-10-23 09:07] FlorianLautenschlager commented on #138
Cool. I will update the branch hopefully this evening (Europe ;-))
I will give you a ping.

[2017-10-30 11:11] twiechert opened #139 "Aggregation by time"
I use chronix to store counts of available car sharing vehicles. I use tags/attributes to distinguish different vehicle classes, such that I don't need to manage a dedicated time series per vehicle type/class. Thus, at every t, I persist multiple records.

How do I aggregate the time series by time and apply a count operator, so that I'm able to retrieve a series of available vehicles regardless o

[2017-10-30 13:43] twiechert opened #140 "Time series resampling"
According to the list of available transformation operations, Chronix does currently not support resampling  (or am I missing something?).

Since I need this feature urgently, I would implement it myself. Is there anything important to consider?

I would implement it as a transformation operation that expects the new frequency size, similar to the MovingAverage transformation. Then I would apply t

[2017-10-30 18:00] FlorianLautenschlager commented on #140
Hi, currently there is no function to resample time series (sadly). But i would appreciate it, if you implement such a function. It should be straight forward.

I have create a branch called chronix-resample-function that already provides a skeleton.

It would be nice to talk about the details / questions in gitter.

[2017-10-30 18:10] #131 closed

[2017-10-30 18:23] FlorianLautenschlager commented on #139
Chronix does not provide aggregations over time. The reason is: If a client requests the whole data he has to touch it anyway and hence he can transform the data in the way he likes it. It is faster than loading the whole data in Chronix (decompress + deserialize), transform it and serialize and compress it again and ship it and deserialize and decompress it.

However i think this i a useful exten

[2017-10-30 18:24] #73 closed

[2017-10-31 08:46] andyfangdz commented on #138
@FlorianLautenschlager Any chance I can get an update today? Thanks :)

[2017-10-31 08:47] FlorianLautenschlager commented on #138
@andyfangdz Yes. I will release the update this evening. Sorry for the delay. Lots on my plate...

[2017-10-31 08:48] andyfangdz commented on #138
@FlorianLautenschlager no worries! You've helped so much already!

[2017-10-31 09:11] FlorianLautenschlager commented on #138
So its updated but the integration test does not work due to the gradle update. Will fix this this evening and let u know.

[2017-10-31 13:41] twiechert commented on #139
I get your point. However, when using the Grafana plugin for example, the user is not able to intercept the  returned values and thus the graphs only show one of the values per time instant. This probably not the best example, as the query facilities trough this plugin are currently very limited.

For me, however, it's ok to know that the data is "there" and returned and not already discarded by t

[2017-10-31 20:11] FlorianLautenschlager commented on #138
@andyfangdz I have migrated it - tomorrow i will update to the latest Solr version and than its done.

[2017-10-31 20:12] andyfangdz commented on #138
Thank you!

[2017-10-31 20:13] FlorianLautenschlager commented on #138
For further questions i suggest that we use gitter.

[2017-10-31 20:13] #138 closed

[2017-11-01 08:24] FlorianLautenschlager commented on #139
Yes. We should provide such functions! 👍

[2017-11-01 08:24] FlorianLautenschlager opened #142 "Update to latest Apache Solr version"

[2017-12-14 00:56] keithn opened #143 "Daily summaries taking into account Daylight saving"
As per the title can you take a time series and generate daily summaries for a given timezone taking into account the DLS for that zone?

[2017-12-14 09:53] FlorianLautenschlager commented on #143
Hi, thanks for your questions. Sadly there is no such function.

[2017-12-18 15:33] #143 closed

[2017-12-18 15:36] FlorianLautenschlager opened #144 "Filter Function Type"
We need an additional type for filtering the time series result - not the values but the time series itself based on given condition, like the time series with the top max values.

[2017-12-18 16:05] FlorianLautenschlager commented on #144
See PR #145

[2017-12-20 03:28] markcwd123 opened #146 "de.qaware.chronix.solr.type.metric.functions.aggregations.Sum"
de.qaware.chronix.solr.type.metric.functions.aggregations.Sum

index should start from 0
please have a look

[2017-12-21 07:47] FlorianLautenschlager commented on #146
Thx for mention this. 👍  I have fixed it!

[2017-12-21 07:47] #146 closed

[2018-04-02 22:07] tamoyal opened #147 "What's the Chronix roadmap / status?"
I'm currently considering multiple options for a tsdb and I like what Chronix has to offer but given we're a startup, I'm hesitant to use an inactive project. The last commit to Chronix was months ago which isn't necessarily bad except that the [releases are still tagged as beta / pre-release](https://github.com/ChronixDB/chronix.server/releases). Latest tweet is also quite old and links to a brok

[2018-04-03 14:27] FlorianLautenschlager commented on #147
Hi, thanks for your question.

At the moment you can see Chronix as a research project...

which is not yet production ready.

We plan to increase the development activity in future and more people will work on Chronix. However it is not a commercial product and will be not in future.

For sure. First we want to release a 1.0 version which will be in two or three months.
Furthermore we want to imp

[2018-04-03 15:34] tamoyal commented on #147
@FlorianLautenschlager thanks for the update!

[2018-04-03 15:34] #147 closed

[2018-04-10 16:19] tamoyal opened #148 "Bad benchmarks on initial test"
I've setup an initial test to see how an OK server would do with a decent load and the results don't look so I thought I would share them here and get some feedback on what I'm (probably) doing wrong.

First thing to address would be storage footprint since that is relatively easy to compare apples to apples. The docs say Chronix will take 5-171 times less space (I assume this is compared to CSV o

[2018-04-11 04:49] FlorianLautenschlager commented on #148
Hi @tamoyal,

Yes, is compared to simple csv files. This paper at [Chronix](https://www.usenix.org/system/files/conference/fast17/fast17-lautenschlager.pdf) describes also a quantitative evaluation.

This is no what i expect. How many points do you store in a time series? It seems that the chunks (n points in a solr document) are too small. The example dataset [chronix example data](https://github

[2018-04-13 16:09] tamoyal commented on #148
@FlorianLautenschlager thanks for the response and sorry for the delay, i was traveling

This is no what i expect. How many points do you store in a time series?

Not sure I understand this question but I think they are all part of one time series in all data points are associated with the same `Name`.

It seems that the chunks (n points in a solr document) are too small.

Ok - I used the default

[2018-07-02 15:06] #148 closed

[2019-01-13 16:11] #140 closed

[2019-01-21 10:39] vzak-profimedia commented on #142
Hi @FlorianLautenschlager,

do you update to SOLR 7.4 in near future, too? We are deciding to use this technology, but we are not sure, that you will support newer version.

[2019-01-21 10:44] FlorianLautenschlager commented on #142
Hi @vzak-profimedia,

it is definitely the next task on my list.

[2019-07-10 01:55] alexnavis opened #150 "Chronix v0.5-beta API and plugin-in documentation are not in sync"
Hi,

I was trying to implement a custom function(bucketed avg to reduce data points) with the plugin-in framework (following the Noop example).

I created a metric-functions.jar to deploy with the ChronixDb. I found the following issues:

1) Chronix v0.5-beta release - does not have the FunctionCtx in the current release version. I see the master is 66 commits ahead of the release which contains t

[2019-07-10 05:30] FlorianLautenschlager commented on #150
Hi Alex,

thanks for reporting. I am currently working on migrating Chronix to the latest Apache Solr version.
As soon as I am done, i will also update the documentation (i know its a mess). I am currently on a business trip and will dig into your questions this evening (UTC).

Best Regards,
Florian

[2019-07-10 10:03] alexnavis commented on #150
Sharing what I found so far to help you find things faster.

Tag Chronix v0.5-beta: (below doesn't have the arguments passed to the plugin functions)
https://github.com/ChronixDB/chronix.server/blob/52e954c13245bd90ba1e4fe0e1f3a2d293782b9a/chronix-server-query-handler/src/main/java/de/qaware/chronix/solr/query/analysis/QueryEvaluator.java#L85-L105

[2019-07-12 13:10] alexnavis commented on #150
Hi @FlorianLautenschlager ,

Sorry to remind, I need to implement functions for a release soon. Any help on the questions for an interim solution would be great.

Thanks,
Alex

[2019-07-12 13:24] FlorianLautenschlager commented on #150
Hi @alexnavis ,

I need to fix a few things and will release a new version (hopefully) on Monday.
Is this something that is working for you?

Cheers,
Florian

[2019-07-14 05:15] alexnavis commented on #150
Hi @FlorianLautenschlager ,

Thanks a lot, it would work definitely. Please do let me know if I can help in any way.

Thanks,
Alex

[2019-07-15 08:57] alexnavis commented on #150
FYI: I forgot to mention about the dependency jar "chronix-server-plugin-management-0.5-beta.jar" which is a dependency for the plugin is not in the mvn repo. Currently it is not a problem for me, since I have used a local copy of the jar from the release bundle.

[2019-07-15 20:36] #142 closed

[2019-07-15 20:50] #144 closed

[2019-07-15 20:51] FlorianLautenschlager commented on #150
@alexnavis I just pushed a 0.5 release with Apache Solr 8.1.1 under the hood. Thx for you comments. Will deploy the jars tomorrow into the maven repo. Time to get some sleep.

[2019-07-15 20:59] #59 closed

[2019-07-16 03:56] alexnavis commented on #150
@FlorianLautenschlager Thanks a lot. Really appreciate the extra effort to complete this. Have good rest. Am excited to test the new version. Thank you.

[2019-08-14 05:22] alexnavis commented on #150
Hi @FlorianLautenschlager,

The plugin functionality works great. Thanks for the help.

Just one question, the solarconfig.xml packaged in the chronix/conf directory in the 0.5 build has the <luceneMatchVersion>6.2.1</luceneMatchVersion>.

Any specific reason we cannot upgrade this to latest Lucene version ?

Thanks,
Alex

[2019-08-14 06:21] FlorianLautenschlager commented on #150
Hi @alexnavis ,

Thank you for the feedback.

No. Missed to update the value.

Cheers,
Florian

[2019-08-18 05:15] alexnavis commented on #150
Thanks Florian. I will close this card.

Please do recommend if the defaults fields (e.g., start, end) should have docValues values enabled to take advantage of the latest changes.

Thanks.

[2019-08-18 05:15] #150 closed

[2019-08-18 05:59] alexnavis opened #151 "NullPointerException in CF CQL Parsing for parallel requests"
Hi Florian,

We see NPE issue in our deployment on few http requests. So I set-up a test(JMH) with 10 threads to simulate parallel queries. It seems the CQL parsing has some problem in concurrency from the initial look.

2 NPE Issues:

I build the chronix.server project with additional logs for the AnalysisHandler (with Handling analysis params). I think the problem is in the CQL cql = new CQL(TYP

[2019-08-18 06:15] FlorianLautenschlager commented on #151
Hi @alexnavis,

thank you for reporting this issue.
Today i do not have the time to dig into it. I will give you an update by tomorrow.

Best Regards
Florian

[2019-08-18 08:43] alexnavis commented on #151
It would be great. Thanks @FlorianLautenschlager.

[2019-08-19 04:58] alexnavis commented on #151
I tried a few things to fix it, but it didn't work out as I'm pretty much new to antlr. :)

Some of the observations might be wrong, hope it might be helpful for you.
1) CQLCFParser and CQLCFLexer has a static PredictionContextCache _sharedContextCache, which seems to be not thread-safe.
2) Tried updating the latest ANTLR 4.7.2 and uncommented the code in CQL (line no: 90).
   -   // Antlr 4.7.1

[2019-08-19 05:10] shridharV commented on #151
Thanks Florian,

[2019-08-19 14:21] FlorianLautenschlager commented on #151
Hi @alexnavis , as you already pointed out, the CQL class is not thread-safe. After some JMH benchmarks I decided to create a new instance of the CQL class for every request to avoid implementing synchronization features. I will release a fixed version soon.

[2019-08-20 08:37] alexnavis commented on #151
Hi @FlorianLautenschlager ,

Thanks a lot for the help. I changed the fix in a different way to avoid unwanted instance creation, please do have a look PR: https://github.com/ChronixDB/chronix.server/pull/152

Also exitRule NPE was because of another exception(token exception in lexer) which was hidden by the NPE. Added logs for the same. If you feel it is not required, i can revert back the log c

[2019-08-22 19:37] FlorianLautenschlager commented on #151
Hi @alexnavis,

There's that one thing I don't like: You modified the generated code of Antlr. From a performance perspective it is quite the same if we create an instance for every request or reuse an object and create the instances within the called method. As soon as you have reverted your changes I will merge it into the master an release it.

Best Regards
Florian

[2019-08-24 06:40] alexnavis commented on #151
Hi @FlorianLautenschlager ,

I missed that it is a generated code and I agree with you. I reverted the logs and static removal for PredictionContextCache.

Rest of the changes are to avoid to unwanted creation of stream for each request with CF and code is also cleaner. Hope you are fine with rest of the changes.

Thanks,
Alex

[2019-08-24 18:19] #151 closed

[2019-08-24 18:28] FlorianLautenschlager commented on #151
Hi @alexnavis,

thanks for your effort =)
I've taken some but not all of your suggestions. It should be clearer now.
Tests were successful and hence I will release a fixed version 0.6.1.

[2019-08-25 05:52] alexnavis commented on #151
Hi @FlorianLautenschlager ,

Sure thanks for the build. But one thing, if you have decided to merge your changes you could have informed me to close my PR. It could have saved my time to avoid revert those log commits, because I was thinking you are fine with the other fixes that is cleaner in not creating unnecessary lexer/parser(new CQL) instances for chronix queries with no CF's involved.

Than

[2019-08-26 16:46] shridharV commented on #151
Hi @FlorianLautenschlager,  <https://github.com/FlorianLautenschlager>
@alexnavis <https://github.com/alexnavis>

Thanks for solving this issue.

Regards
Shridhar

On Sat, Aug 24, 2019 at 10:52 PM Alex Anto Navis L <notifications@github.com>
wrote:

[2019-10-15 16:42] Rishi0405 opened #153 "missing some aggregations returned by cf"
Hi,
I am facing the following issue, that sometimes I am not getting all aggregation results that I have sent in cf

**query**
`{q=start:2019-10-14T21:00:00.000Z AND end:2019-10-15T21:00:00.000Z AND mdefId:(00024 10020) AND sVertexId:(26624 1632000 137984 1633792 272384 1633536 1628416 1630208 1684736 1700608), cf=metric{avg;max}, fl=-data,-gUpdatedTs, cj=name}`

A total of 900 records found but s

[2019-10-15 17:35] FlorianLautenschlager commented on #153
Hi Rishi, thanks for reporting. I am currently on vacation without any laptop computer. What would be great, if you can send me a reproducer. I will dig into it next week.

Best regards
Florian

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-22 14:26] Rishi0405 commented on #153
Hi Florian,

I have tested with the below dataset

`{ type: 'metric', name: 'testMetrics', start: 1571633880000, end: 1571635080000, data: 'H4sIAAAAAAAAAOPi1Dx7BgRq7Ll4FR4sF9JkgAIuJgNGLk7NWTNBQNOei00AKGvAKMAAAFjYSa0zAAAA' }`

the data has 5 points compressed, are
[code]
and I ran the below query in loop for 50, and have seen missing either avg or max in some index,
query: `q=start:1571633880000 AN

[2019-10-30 05:27] Rishi0405 commented on #153
Hi @FlorianLautenschlager,

Did you tried with any test case, did you find the root cause?

[2019-10-31 13:28] FlorianLautenschlager commented on #153
Hi @Rishi0405,

sadly not until today. Had lots on my "work" plate...
Hopefully i can have a look today or tomorrow.

[2019-11-01 18:26] supersexy opened #154 "Please consider vagrant machine for demo"
It would be much easier to take a look if this project is an interesting alternative if you did make it much easier to do so.

If you provided a vagrant machine it would be easier to understand the project without having to spend hours of installing and configuration of unknown software.

It will help a lot to gain some attention.

[2019-11-07 19:41] FlorianLautenschlager commented on #153
Hi @Rishi0405,

if found some time and solved the issue. I will publish a fixed version soon.

Best Regards
Florian

[2019-11-07 19:44] #153 closed

[2019-11-07 19:48] FlorianLautenschlager commented on #154
Hi,

thanks for your ticket. I will consider this =)
I am not sure if a simply provide a docker image or a vagrant machine.

Best regards
Florian

[2019-11-08 20:54] Rk85 opened #155 "Missing Time series"
When I query more than 10 timeseries in a single rest call (in my case 12), sometimes I get one or more time series is missing, but I get all the document in solr query always.

My sample query is

{q=(id:metric1 OR id:metric2 OR id:metric3 OR id:metric4 OR id:metric5 OR id:metric6 OR id:metric7 OR id:metric8 OR id:metric9 OR id:metric10 OR id:metric11 OR id:metric12), tf=start:2019-11-08T09:00:00

[2019-11-08 23:44] shridharV commented on #155
Could this be similar to the synchronization issue in the aggregations ?

[2019-11-09 05:48] FlorianLautenschlager commented on #155
Hi @Rk85,
thanks for raising this issue.
I will have a look.

[2019-11-11 06:36] Rishi0405 commented on #153
Hi @FlorianLautenschlager

Thanks. :)

[2019-11-13 14:17] Rk85 commented on #155
Hi Florian,

Please find the re-producing steps below to help you to get to the root cause

Data:
Data contains 15 metrics with 5 data points
[
  {
    "name": "metric1",
    "type": "metric",
    "start": 1571633880000,
    "end": 1571635080000,
    "data": "H4sIAAAAAAAAAOPi1Dx7BgRq7Ll4FR4sF9JkgAIuJgNGLk7NWTNBQNOei00AKGvAKMAAAFjYSa0zAAAA"
  },
  {
    "name": "metric2",
    "type": "metric",

[2019-11-13 17:55] shridharV commented on #155
👍

[2019-11-18 12:23] #155 closed

[2019-11-18 12:51] FlorianLautenschlager commented on #153
Hi, just deployed a new version of chronix including this fix.

[2019-11-18 12:51] FlorianLautenschlager commented on #155
Hi, just deployed a new version of chronix including this fix.

[2019-11-19 15:24] Rishi0405 commented on #153
I just updated and tested. So far it is good. Thanks :)

[2019-11-22 00:16] shridharV commented on #155
Thanks 👍

[2019-12-30 12:45] Rishi0405 opened #156 "querying chronix with cj=unknown_field makes chronix throw out of memory exception"
Hi,

I queried chronix with cj=some_field, few documents don't have the field I used with cj, after few seconds CPU processing went 100% and after some time it throws out of memory exception.

**Sample data**
[code]

**Query**
`http://localhost:8983/solr/chronix/select?_=1577708759371&cj=someField&q=*:*&rows=10&start=0`

Thanks,
Rishi

[2020-01-13 11:50] Rishi0405 commented on #156
@FlorianLautenschlager Could you able to replicate this issue?

[2020-01-13 20:58] FlorianLautenschlager commented on #156
Hi @Rishi0405,

thank you for your ticket. I was on vacation and I have lot on my plate in the new year.

Question:

- How many points are stored in a document? The behavior you describe, often occurs if you have very few points per document?

Kind Regards,
Florian

[2020-02-28 22:16] shridharV opened #157 "Query with multiple cores fails"
If we load data into 2 cores, the inserts go thru fine.

If we query any one core at a time, the data comes thru fine.

But if we specific more than one core in the query, the query fails.

There is a time format error.

[2020-02-28 23:19] shridharV commented on #157
We tested Chronix with 2 cores....here is comments from one of my colleagues;
(This is an old log)

# Test Multicore basics
## Created 2 cores - *chronix & chronix_new (same as chronix)*
## Store data in both cores by /update to each core with chronological data without batching - *Stored 2 timeseries each into chronix & chronix_new (metrics with same name but with different points)*
## Perform ch

[2020-03-09 11:10] Rishi0405 commented on #156
@FlorianLautenschlager I am not sure about the points count in the document. But in my test case, I have tested with fewer points. However, I am also getting "null" in join_key if the specified CJ field is set as optional in solr schema.

[2021-05-06 12:57] Rishi0405 opened #158 "Failed to collect dependencies"
Hi

After the maven update, we couldn't download the dependencies from the maven repo, please check this issue. Below is the error seen when building the app

[ERROR] Failed to execute goal on project oc-chronix-server-functions: Could not resolve dependencies for project com.opscruise:oc-chronix-server-functions:jar:0.1: Failed to collect dependencies at de.qaware.chronix:chronix-timeseries:jar:0

[2021-05-23 11:18] FlorianLautenschlager commented on #158
Hi,thanks for the issue. I guess it is due to the shutdown of JFrog. We must upload the libraries to maven central. I can not guarantee a date until this will be done.

[2021-05-23 11:20] #66 closed

[2021-05-23 11:20] #79 closed

[2021-05-23 11:20] #107 closed

[2021-05-23 11:21] #115 closed

[2021-05-23 11:21] #130 closed